name: 02.Deploy React to Netlify

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm install
        working-directory: modules/02.React_Pipeline
        continue-on-error: false
        id: install-dependencies

      - name: Run React tests
        run: npm test -- --watchAll=false
        working-directory: modules/02.React_Pipeline
        continue-on-error: false
        id: run-tests

      - name: Build the React app
        run: npm run build
        working-directory: modules/02.React_Pipeline
        continue-on-error: false
        id: build-app

      - name: Publish to Netlify
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=modules/02.React_Pipeline/ build --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        continue-on-error: false
        id: deploy-to-netlify      
        
      - name: Slack Notification
        if: always() 
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: github-action-course 
          SLACK_COLOR: ${{ job.status }}       
          SLACK_ICON_EMOJI: ":rocket:"         
          SLACK_USERNAME: "GitHub Actions Bot"
          SLACK_TITLE: "React CI/CD Deployment"
          SLACK_MESSAGE: |
            *Status*: ${{ job.status }}
            *Deployed by*: ${{ github.actor }}
            *Branch*: ${{ github.ref_name }}
            *Commit Message*: ${{ github.event.head_commit.message }}
            *Commit Author*: ${{ github.event.head_commit.author.name }}
            *Commit Timestamp*: ${{ github.event.head_commit.timestamp }}
            *Repository*: ${{ github.repository }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
